<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true">
    
    <testsuites>
        
        <testsuite name="Controller Tests">
            <directory>tests/controller</directory>
        </testsuite>

        <testsuite name="Model Tests">
            <directory>tests/model</directory>
        </testsuite>

    </testsuites>

</phpunit>
